

/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 40px 0 00px 0;
  margin: 0 0 10px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
  background: linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: left;
}
.jumbotron p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 15px;
  text-align: left;
}


/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

.bigt {
    width: 400px;
}


div.object {
    padding: 4px;
    margin: 4px;
    border: 1px solid #F99;
    width: 500px;
    background: white;
    min-height: 50px;
}
div.btnbar {
    float: right;
}

select {
    width: 300px;
}

.textareatoggle {
    display: none; 
    background: #f5f5f5;
    padding: 2px;
    margin: 2px;
}
.attributetextarea {
    width: 400px;
    height: 200px;
}

table.hlist { 
    border-collapse: collapse;
    border: 1px solid #555;
    padding: 4px;
    margin: 0;
}
table.hlist td, table.hlist th {
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    padding: 4px 8px;
    margin: 0;
    text-align: left;
}

.fmeta {
    width: 400px;
}
.fmetatext {
    width: 400px;	
}
.fmetadate {
    width: 100px;	
}
.fmetaean {
    width: 180px;	
}

.my3col div.span4 {
    border: 1px solid #CCC;
    padding: 4px;
    margin: 2px;
}

.cropscroll {
    height: 600px;
    overflow-y:auto;
}
.cropscroll ul {
     list-style-type:none;
    white-space:nowrap;
}
.cropscroll ul li {
    display: block;
    padding-bottom: 4px;
}
.cropscroll img {
    border: 4px solid white;
}
.cropscroll img.active {
    border: 4px solid red;
}

.xy {
    width: 60px;
}


/* CROPPING and CANVAS */
  #croppingcanvas,  #croppingarea {
position: absolute;
left: 0; top: 0;
width: 600px; height: 576px;
}
#croppingarea {
  z-index: 20;
  float: left;
}
#croppingcanvas {
z-index: 30;
}
#cropzone {
position: relative;
}

#grid  {
position: absolute;
left: 0; top: 0;
width: 576px; height: 576px;
background: none;
}
#grid {
  z-index: 25;
}
